{% extends "base.html" %}
{% block content %}
<div style="padding: 100px 20%; text-align: center;">
    <h1 style="color:var(--gold); letter-spacing: 10px;">PASARELA_DE_PAGO_SEGURA</h1>
    <div style="border: 2px solid var(--gold); padding: 50px; background: rgba(10,10,10,0.9);">
        <p style="color:var(--neon)">SISTEMA DE ENCRIPTACIÓN terrence.m ACTIVO</p>
        <form action="/exito" method="GET">
            <input type="text" placeholder="ID_DE_CREDENCIAL" style="background:#111; border:1px solid var(--gold); color:#fff; padding:15px; width:80%; margin-bottom:20px; font-family:'Orbitron';">
            <button type="submit" style="background:var(--gold); color:#000; border:none; padding:15px 40px; font-family:'Orbitron'; font-weight:900; cursor:pointer;">EJECUTAR TRANSACCIÓN</button>
        </form>
    </div>
</div>
{% endblock %}
