{% extends "base.html" %}
{% block content %}
<div style="padding: 100px 8%;">
    <h2 style="color: var(--gold); letter-spacing: 5px;">CENTRAL DE UNIDADES - terrence.m</h2>
    <form action="/add_item" method="POST" style="display: flex; gap: 10px; margin-bottom: 30px; background: rgba(212,175,55,0.1); padding: 20px; border: 1px solid var(--gold);">
        <input type="text" name="id" placeholder="ID" required style="background:#000; color:#fff; border:1px solid var(--gold); padding:10px; font-family:'Orbitron';">
        <input type="text" name="nombre" placeholder="Nombre Unidad" required style="background:#000; color:#fff; border:1px solid var(--gold); padding:10px; flex:1; font-family:'Orbitron';">
        <input type="number" name="cantidad" placeholder="Cant" required style="background:#000; color:#fff; border:1px solid var(--gold); padding:10px; width:80px; font-family:'Orbitron';">
        <input type="number" step="0.01" name="precio" placeholder="Precio" required style="background:#000; color:#fff; border:1px solid var(--gold); padding:10px; width:100px; font-family:'Orbitron';">
        <button type="submit" style="background:var(--gold); border:none; padding:10px 20px; font-family:'Orbitron'; cursor:pointer; font-weight:900;">REGISTRAR</button>
    </form>
    <table style="width: 100%; border-collapse: collapse; color: #fff; font-family: monospace;">
        <tr style="color: var(--gold); border-bottom: 2px solid var(--gold); text-align: left;">
            <th style="padding:15px;">ID</th><th style="padding:15px;">NOMBRE</th><th style="padding:15px;">CANTIDAD</th><th style="padding:15px;">VALOR</th>
        </tr>
        {% for p in productos %}
        <tr style="border-bottom: 1px solid #333;">
            <td style="padding:15px;">{{ p.get_id() }}</td>
            <td style="padding:15px;">{{ p.get_nombre() }}</td>
            <td style="padding:15px; color: var(--neon);">{{ p.get_cantidad() }}</td>
            <td style="padding:15px;">${{ p.get_precio() }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
